.link-button {
  cursor: pointer;
  padding: 16px 64px;
  background: $primary;
  border-radius: 10px;
  color: $light;
  font-family: $font-bold;
  text-transform: uppercase;
  font-size: 12px;

  @media (max-width: 500px) {
    width: 80vw;
    padding: 16px 0;
  }

  &:hover {
    background-color: $secondary;
  }
}

.scroll-to-top-button {
  cursor: pointer;
  background: $primary;
  width: 50px;
  height: 50px;
  border-radius: 200px;
  font-size: 25px;
  color: $light;
  position: fixed;
  bottom: 10%;
  right: 5%;

  &:hover {
    background: $secondary;
  }

  @media (max-width: 550px) {
    width: 35px;
    height: 35px;
    font-size: 20px;
  }
}

.project__return-button {
  background: $primary;
  color: $light;
  padding: 8px 16px;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
    background: $secondary;
  }
}

.contact-form__button {
  cursor: pointer;
  padding: 16px 64px;
  background: $primary;
  border-radius: 10px;
  color: $light;
  font-family: $font-bold;
  text-transform: uppercase;
  font-size: 12px;

  @media (max-width: 500px) {
    width: 80vw;
    padding: 16px 0;
  }

  &:hover {
    background-color: $secondary;
  }
}
